// Import pre-compiled Bulma CSS (no Sass deprecation warnings)
@import 'bulma/css/bulma.css';

// Custom colors
$primary: hsl(348, 100%, 61%);
$pinkish: #ff99aa;

// Custom styles
.navbar.is-primary {
  background-color: $primary;
}

.button.is-primary {
  background-color: $primary;
  border-color: transparent;
  color: #fff;

  &:hover {
    background-color: hsl(348, 100%, 56%);
  }

  &:disabled {
    background-color: hsl(348, 100%, 81%);
    cursor: not-allowed;
  }
}

.progress.is-primary::-webkit-progress-value {
  background-color: $primary;
}

.progress.is-primary::-moz-progress-bar {
  background-color: $primary;
}

// Global styles
body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
}

// File input styling
.file-label {
  cursor: pointer;
}

.file-input {
  display: none;
}

.file-cta {
  background-color: $primary;
  border-color: transparent;
  color: #fff;

  &:hover {
    background-color: hsl(348, 100%, 56%);
  }
}
